<main>
	<p>{{ content }}</p>
	<label for="animalType">Récupérer des:
	<select name="animalType" id="animalType">
		<option selected disabled>Faites un choix</option>
		<option value='primates'>Primates</option>
		<option value='felines'>Félins</option>
	</select>
	<div id="animalContainer">
	</div>
</main>

<script src="js/animals.js"></script>